.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
android/
ios/
linux/
web/

.idea

pubspec.lock
analysis_options.yaml
coverage/lcov.info
example/ios/Flutter/flutter_export_environment.sh
